.header {
    background-color: white; /* Set your desired background color */
    color: #000000; /* Text color */
    padding: 50px 0; /* Add padding as needed */
    text-align: center;
  }

  /* #005271 */
  
  
  h1 {
    font-size: 2.5rem; /* Adjust font size */
  }
  
  p {
    font-size: 1.2rem; /* Adjust font size */
    margin-top: 20px; /* Add margin as needed */
  }
  
  .cta-button {
    background-color: #ff5722; /* Set button background color */
    color: #fff; /* Button text color */
    font-size: 1.2rem; /* Adjust font size */
    padding: 10px 20px; /* Adjust padding */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transitions */
  }
  
  .cta-button:hover {
    background-color: #d84315; /* Change button color on hover */
    transform: scale(1.1); /* Add a simple scale-up animation on hover */
    
  }
  

  .header-content {
    /* ... Existing styles ... */
    max-width: 2000px; /* Set the maximum width for content */
    margin: 0 auto; /* Center content horizontally */
    display: flex;
    align-items: center; /* Center vertically */
  }
  
  .header-image {
    max-width: 100%; /* Ensure the image fits within the container */
    margin-right: 20px; /* Add spacing between image and text */
  }
